/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

.fa-circle-info {
    font-size: 1.5rem;
}

body {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 22px;
}

h3{
    font-size: 16px;
}

header p {
    margin-bottom: 2rem;
}

header input {
    height: 100%;
    border-radius: 0;
    border: none;
    font-weight: bold;
    text-align: left;
    margin-left: 1rem;
}

.inputResearch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 18.9rem;
    border-radius: 15px;
    border: 1px solid var(--main-bg-color);
    margin: 0 0 1rem 0;
}

header button {
    height: 2.5rem;
    padding: 0.5rem;
    font-weight: bold;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

nav img {
    height: 1rem;
}

nav ul {
    height: 3rem;
    display: flex;
    width: 12rem;
    justify-content: space-between;
    border-top: 1px solid var(--main-bg-color);
}

nav ul li:hover {
    border-top: 3px solid var(--main-color);
}

li {
    list-style: none;
}

h1 {
    margin: 2rem 0 0.5rem 0;
    font-size: 1.5rem;
}

.fa-location-dot {
    color: black;
    font-size: 1.2rem;
}

.dot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    margin: auto;
    background-color: var(--main-bg-color);
    border-radius: 25% 0 0 25%;
}

.inputResearch .btnLogo {
    display: none;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.filterSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55rem;
    margin: 1rem 0;
}

.filterSection h2 {
    font-size: 1rem;
    margin: 1rem;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    flex-wrap: wrap;
    height: 2.5rem;
    width: 10rem;
    border: 2px solid rgb(226, 223, 223);
    background-color: white;
    border-radius: 50px;
    font-weight: bold;
}

.filter:hover {
    background-color: rgba(6, 175, 254, 0.227);
}

.filter:active {
    background-color: rgba(6, 175, 254, 0.227);
}

.filter .fa-solid {
    margin: 0 8px 0 0;
}

.fa-money-bill-wave,
.fa-person,
.fa-heart,
.fa-fire {
    font-size: 1rem;
}

.info {
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.info p {
    margin: 0 0.9rem;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 25px;
    padding: 4px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hotels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 1rem 0;
    width: 100%;
}

.hotels a {
    width: 30%;
}


.hotel {
    height: 11rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(206, 206, 206, 0.274);
    padding: 0.3rem;
}

.hotel img {
    border-radius: 15px 15px 0 0;
    height: 6rem;
    width: 100%;
    object-fit: cover;
}

.card-contentHebergement {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: auto 0.7rem;
    width: 95%;
    height: 4rem;
}

.hotel .card-ratingHebergement {
    text-align: left;
    padding: 0 0 0 1rem;
    width: 90%;
    height: 6rem;
}

.add-more {
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*********Activité************/

.activiteMarseille {
    width: 100%;
    padding: 1rem;
}

.activiteMarseille h2 {
    margin: 3rem 0 0 0;
}

.activites {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.activites a {
    width: 23%;
    gap: 1rem;
    height: 29rem;
}

.activite {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(206, 206, 206, 0.274);
    width: 100%;
}

.activite img {
    height: 80%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}


.activite h3 {
    margin: auto 1rem;
}

footer {
    display: flex;
    width: 100%;
    height: 15rem;
    padding: 1rem;
    background-color: var(--main-bg-color);
}

.infoFooter {
    width: 15rem;
    margin-right: 10rem;
}

.infoFooter h3 {
    margin: 1rem 0;
}

.infoFooter ul {
    line-height: 2em;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hotel {
        height: 10rem;
    }

    .hotel img {
        border-radius: 15px 15px 0 0;
        height: 5.5rem;
        width: 100%;
        object-fit: cover;
    }

    .filterSection {
        flex-direction: column;
        align-items: flex-start;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .populaires-cards a {
        width: 45%;
    }

    .card {
        width: 100%;
        height: 7rem;
    }

    .card img {
        height: 100%;
    }

    h3 {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /******Activité tab **********/

    .activites a {
        height: 14rem;
    }

    .activite {
        display: flex;
    }



    .activite h3 {
        margin: auto 0.5rem;
    }

    /*********Footer***********/

    footer {
        display: flex;
        width: 100%;
        padding: 1rem;
        background-color: var(--main-bg-color);
    }

    .infoFooter {
        width: 15rem;
        height: 9rem;
        margin-right: 5rem;
    }

    .infoFooter h3 {
        margin: 1rem 0;
    }

    .infoFooter ul {
        height: 7rem;
        line-height: 2em;
    }
}

html {
    border: 1px solid red;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .fa-magnifying-glass {
        display: block;
        color: white;
    }

    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0;
        box-sizing: border-box;
    }

    nav {
        height: 9rem;
        flex-direction: column;
        justify-content: space-between;
    }

    nav img {
        margin-top: 2rem;
        height: 1.5rem;
    }

    nav ul {
        justify-content: center;
        width: 100%;
        border-top: none;
    }

    nav ul li {
        text-align: center;
        width: 100%;
        border-bottom: 3px solid var(--main-bg-color);
    }

    nav ul li:hover {
        border-top: none;
        border-bottom: 3px solid var(--main-color);
    }

    .mainTitle,
    footer {
        padding: 0 25px;
    }

    .inputResearch input {
        width: 100%;
    }

    .inputResearch {
        width: 100%;
    }

    .inputResearch .btnText {
        display: none;
    }

    .inputResearch .btnLogo {
        display: block;
        border-radius: 10px;
        width: 4rem;
        height: 3rem;
        filter: drop-shadow(0px 2px 1px rgb(198, 197, 197));
    }

    .filterSection {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        margin: auto;
    }

    .filter {
        margin: auto;
    }

    .info {
        margin: 2rem auto;
        justify-content: space-around;
    }

    .info p {
        margin: 0;
        width: 20rem;
    }

    .hebergements-and-populaires {
        display: grid;
        grid-template-rows: 1fr 1fr;
        flex-direction: column;
    }
    .hebergements-and-populaires section {
        background-color: white ;
    }
    
    .hebergements {
        border-radius: 0 !important;
    }

    .hotels {
        width: 100%;
        gap: 1.5rem;

    }

    .hotels a {
        width: 100%;
    }

    .hotel {
        height: 13rem;
        width: 100%;
    }

    .hotel img {
        border-radius: 15px 15px 0 0;
        height: 7.5rem;
        width: 100%;
        object-fit: cover;
    }

    .populaires {
        margin-top: 50px;
        border-radius: 0 !important;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires .card {
        margin-top: 1rem;
    }

    h3 {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /******Activité tab **********/

    .activiteMarseille {
        width: 100%;
        padding: 25px;
        height: 75rem;
    }
    
    .activites {
        flex-direction: column;
        gap: 1rem;
        height: 58rem;
    }

    .activite {
        display: flex;
        padding: 0.3rem;
        height: 15rem;
        width: 100%;
    }

    .activites a {
        height: 10rem;
        width: 100%;
    }

    .activite h3 {
        margin: auto 1rem;
    }

    /*********Footer***********/

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        height: 25rem;
        padding: 1rem;
        background-color: var(--main-bg-color);
    }

    .infoFooter {
        height: auto;
        width: 100%;
    }

    .infoFooter h3 {
        margin: 0.5rem 0;
    }

    .infoFooter ul {
        height: auto;
        line-height: 1.5em;
    }
}