/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

.fa-circle-info {
  font-size: 1.5rem;
}

body {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 15px;
}

header p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.inputResearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 20rem;
  border-radius: 10rem;
  border: 1px solid var(--main-bg-color);
  margin: 0 0 1rem 0;
}

.inputResearch input {
  height: 100%;
  width: 100%;
  border-radius: 0;
  border: none;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

.inputResearch .btnLogo {
  display: none;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 6rem;
  background-color: var(--main-bg-color);
  border-radius: 25% 0 0 25%;
}

.fa-location-dot {
  color: black;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

header button {
  height: 100%;
  padding: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0 15px 15px 0;
  background-color: var(--main-color);
  color: white;
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

nav img {
  height: 1rem;
}

nav ul {
  height: 100%;
  display: flex;
  width: 12rem;
  justify-content: space-between;
}

nav ul li:hover {
  border-top: 3px solid var(--main-color);
}

li {
  padding-top: 1rem;
  list-style: none;
}

h1 {
  margin: 2rem 0 0.5rem 0;
  font-size: 1.2rem;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.filterSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  gap: 1rem;
}

.filterSection h2 {
  font-size: 1rem;
  margin: 1rem 0;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  height: 2.5rem;
  width: 45%;
  max-width: 9.5rem;
  border: 2px solid rgb(226, 223, 223);
  background-color: white;
  border-radius: 50px;
  font-weight: bold;
}

.filter:hover {
  background-color: rgba(6, 175, 254, 0.227);
}

.filter:active {
  background-color: rgba(6, 175, 254, 0.227);
}

.filter .fa-solid {
  margin: 0 8px 0 0;
}

.fa-money-bill-wave,
.fa-person,
.fa-heart,
.fa-fire {
  font-size: 1rem;
}

.info {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.info p {
  margin: 0 0 0 0.9rem;
}

.info .fa-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(202, 199, 199);
  border-radius: 50px;
  height: 2rem;
  width: 2rem;
  text-align: center;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 15px;
  padding: 4px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 14px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  border-radius: 20px;
  padding: 22px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--main-bg-color);
}

.hotels {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  width: 100%;
}

.hotels a {
  width: 30%;
  height: 13rem;
}

.hotel {
  flex-grow: 1;
  height: 100%;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hotel h3 {
  margin: 0.2rem 0;
}

.hotel img {
  border-radius: 15px 15px 0 0;
  height: 7rem;
  width: 100%;
  object-fit: cover;
}

.card-contentHebergement {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: auto 0.5rem;
}

.hotel .card-ratingHebergement {
  text-align: left;
  padding: 0 0 0 1rem;
  width: 90%;
  height: 6rem;
}

.add-more {
  font-weight: bold;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
  background-color: var(--main-bg-color);
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.populaires-cards .card-content {
  flex-grow: 1;
  width: 67%;
  padding-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/*********Activité************/

.activiteMarseille {
  width: 100%;
  padding: 1rem;
}

.activiteMarseille h2 {
  margin: 3rem 0 0 0;
}

.activites {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.activites a {
  width: 23%;
  gap: 1rem;
  height: 29rem;
}

.activite {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.activite img {
  height: 87%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.activite h3 {
  margin: auto 1rem;
}

footer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 15rem;
  height: 15rem;
  padding: 1rem;
  background-color: var(--main-bg-color);
}

.infoFooter {
  width: 13rem;
}

.infoFooter h3 {
  margin: 1rem 0;
}

.infoFooter ul {
  line-height: 2em;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
    margin-bottom: 2rem;
  }

  .filterSection h2 {
    margin: 1rem 0;
  }

  .hotel img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    object-fit: cover;
  }

  .filterSection {
    flex-direction: column;
    align-items: flex-start;
  }

  .hotels {
    margin: 2rem auto;
  }

  .hotels a {
    width: 30%;
    height: 10.5rem;
  }

  .hotel {
    flex-grow: 1;
    height: 100%;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }

  .hotel h3 {
    margin: 0.2rem 0;
  }

  .hotel img {
    border-radius: 15px 15px 0 0;
    height: 5.5rem;
    width: 100%;
    object-fit: cover;
  }

  .populaires {
    width: 100%;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .populaires-cards a {
    width: 45%;
  }

  .card {
    width: 100%;
    height: 7rem;
  }

  .card img {
    height: 100%;
  }

  h3 {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /******Activité tab **********/

  .activites a {
    height: 15rem;
  }

  .activite {
    display: flex;
  }

  .activite img {
    height: 75%;
  }

  /*********Footer***********/

  footer {
    display: flex;
    justify-content: space-between;
    gap: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--main-bg-color);
  }

  .infoFooter h3 {
    margin: 1rem 0;
  }

  .infoFooter ul {
    height: 7rem;
    line-height: 2em;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .fa-magnifying-glass {
    display: block;
    color: white;
  }

  .main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    height: 9rem;
    flex-direction: column;
    justify-content: space-between;
  }

  nav img {
    margin-top: 2rem;
    height: 1.5rem;
  }

  nav ul {
    justify-content: center;
    width: 100%;
    border-top: none;
  }

  nav ul li {
    align-self: flex-end;
    text-align: center;
    padding-bottom: 1.5rem;
    width: 100%;
    border-bottom: 3px solid var(--main-bg-color);
  }

  nav ul li:hover {
    border-top: none;
    border-bottom: 3px solid var(--main-color);
  }

  .mainTitle,
  footer {
    padding: 0 25px;
  }

  .inputResearch input {
    width: 100%;
  }

  .inputResearch {
    width: 100%;
  }

  .inputResearch .btnText {
    display: none;
  }

  .inputResearch .btnLogo {
    display: block;
    border-radius: 10px;
    width: 4rem;
    height: 3rem;
    filter: drop-shadow(0px 2px 1px rgb(198, 197, 197));
    font-size: 1.5rem;
  }

  .filterSection {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }

  .filters {
    justify-content: center;
  }

  .filter {
    max-width: 40rem;
  }

  .filterSection h2 {
    margin: 1rem 0;
  }

  .info {
    width: 90%;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .hebergements {
    border-radius: 0 !important;
    background-color: white;
    margin-bottom: 0;
  }

  .hotels {
    gap: 1.5rem;
  }

  .hotels a {
    width: 100%;
    min-height: 13rem;
  }

  .hotel img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 7rem;
    object-fit: cover;
  }

  .populaires {
    background-color: var(--main-bg-color);
    border-radius: 0 !important;
  }

  .populaires-title {
    margin-bottom: 1rem;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .populaires-cards a {
    width: 100%;
    max-width: 30rem;
    height: 9rem;
  }

  .populaires .card {
    height: 100%;
    margin: 0;
  }

  .populaires-cards img {
    width: 25%;
    height: 136px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  h3 {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /******Activité tab **********/

  .activiteMarseille {
    width: 100%;
    padding: 30px;
    height: 75rem;
  }

  .activites {
    flex-direction: column;
    gap: 1rem;
    height: 58rem;
  }

  .activite {
    display: flex;
    height: 15rem;
    width: 100%;
  }

  .activites a {
    height: 8rem;
    width: 100%;
  }

  .activiteMarseille h2 {
    margin: 0;
  }

  .activite h3 {
    margin: auto 1rem;
  }

  /*********Footer***********/

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 30rem;
    padding: 1rem;
    background-color: var(--main-bg-color);
  }

  .infoFooter {
    width: 100%;
  }

  .infoFooter h3 {
    margin: 0.5rem 0;
  }

  .infoFooter ul {
    height: auto;
    line-height: 1.5em;
  }
}
