/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 22px;
}

header p {
    margin-bottom: 1rem;
}

header input {
    height: 100%;
    border-radius: 0;
    border: none;
}

header input {
    font-weight: bold;
    text-align: center;
}

header div {
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 18rem;
    border-radius: 15px;
    border: 1px solid var(--main-bg-color);
    margin: 0 0 1rem 0;
    background-color: var(--main-bg-color);
}

header button {
    height: 2.5rem;
    padding: 0.5rem;
    font-weight: bold;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

nav img {
    height: 1rem;
}

nav ul {
    height: 3rem;
    display: flex;
    width: 12rem;
    justify-content: space-between;
}

nav ul li:hover {
    border-top: 2px solid var(--main-color);
}

li {
    list-style: none;
}

h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.fa-location-dot,
.fa-magnifying-glass {
    color: black;
    padding: 0.8rem;
}

.fa-magnifying-glass {
    display: none;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.filterSection {
    display: flex;
    align-items: center;
    width: 40rem;
    margin: 1rem 0;
}

.filterSection h2 {
    font-size: 1rem;
    margin-right: 1rem;
}

.filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 2.5rem;
    width: 8rem;
    border: 2px solid rgb(226, 223, 223);
    background-color: white;
    border-radius: 50px;
    font-weight: bold;
}

.filter:hover {
    background-color: rgba(6, 175, 254, 0.227);
}

.filter:active {
    background-color: rgba(6, 175, 254, 0.227);
}

.filter .fa-solid {
    margin: 0 8px 0 0;
}

.info {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 27.5rem;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hotels {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem 0;
    width: 100%;
}

.hotels a {
    width: 30%;
}

.hotel h3 {
    font-size: 16px;
}

.hotel {
    height: 11rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 1px 6px rgb(167, 166, 166);
    padding: 0.3rem;
}

.hotel img {
    border-radius: 15px 15px 0 0;
    height: 6rem;
    width: 100%;
    object-fit: cover;
}

.card-contentHebergement {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 0.7rem;
    width: 95%;
    height: 4rem;
}

.hotel .card-ratingHebergement {
    text-align: left;
    padding: 0 0 0 1rem;
    width: 90%;
    height: 6rem;
}

.add-more {
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/*********Activité************/

.activiteMarseille {
    width: 100%;
    padding: 1rem;
}

.activiteMarseille h2 {
    margin: 2rem 0 0 0;
}

.activites {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 4rem 0;
}

.activite {
    display: flex;
    flex-direction: column;
    height: 30rem;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.274);
}

.activite img {
    height: 26rem;
    width: 18rem;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.activite h3 {
    margin: auto 1rem;
}


footer {
    display: flex;
    width: 100%;
    height: 15rem;
    padding: 1rem;
    background-color: var(--main-bg-color);
}

.infoFooter {
    width: 15rem;
    height: 10rem;
    margin-right: 10rem;
}

.infoFooter h3 {
    margin: 1rem 0;
}

.infoFooter ul {
    height: 100%;
    line-height: 2em;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hotel {
        height: 10rem;
    }

    .hotel img {
        border-radius: 15px 15px 0 0;
        height: 5.5rem;
        width: 100%;
        object-fit: cover;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    h3 {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /******Activité tab **********/
    .activite {
        display: flex;
        height: 17rem;
        width: 12.5rem;
    }

    .activite a {
        height: 13rem;
        width: 8rem;
    }

    .activite img {
        height: 13rem;
        width: 100%;
    }

    .activite h3 {
        margin: auto 1rem;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .fa-magnifying-glass {
        display: block;
    }

    nav ul li:hover {
        border-bottom: 1px solid var(--main-color);
    }
}